@charset "UTF-8";
:root {
  --main-ff: "Roboto", sans-serif;
  --second-ff: "Raleway";
  --text-color: #212121;
  --accent-color: #2196F3;
  --second-color: #757575;
  --last-color: #FFFFFF;
  --background-color: #E5E5E5;
  --dark-color: #2F303A;
  --soc-color: #AFB1B8;
  --grey-color: #F5F4FA;
  --changes: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--main-ff);
  color: var(--text-color);
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  padding: 0;
}

.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.adress__link, .modal__link, .work__link, .team__card .customer__link, .team__card .soc-link, .contact .contact__link, .page__link {
  color: var(--text-color);
  text-decoration: none;
  transition: color var(--changes), background-color var(--changes), fill var(--changes), border-color var(--changes);
}
.adress__link:hover, .modal__link:hover, .work__link:hover, .team__card .customer__link:hover, .team__card .soc-link:hover, .contact .contact__link:hover, .page__link:hover, .adress__link:focus, .modal__link:focus, .work__link:focus, .team__card .customer__link:focus, .team__card .soc-link:focus, .contact .contact__link:focus, .page__link:focus {
  color: var(--accent-color);
}

.send__btn, .modal__submit, .hero__btn {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--last-color);
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--changes), box-shadow var(--changes), background var(--changes);
  cursor: pointer;
  border: transparent;
}
.send__btn:hover, .modal__submit:hover, .hero__btn:hover, .send__btn:focus, .modal__submit:focus, .hero__btn:focus {
  background-color: #188ce8;
  color: var(--last-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.filter__btn {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: var(--main-ff);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--last-color);
  cursor: pointer;
  border: transparent;
  transition: color var(--changes), background-color var(--changes);
}

.mail__subtitle, .social__subtitle, .benefit__item > .benefit__subtitle {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--last-color);
}

.section__title--second {
  margin-right: 0 auto;
  align-items: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.example__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--last-color);
}

.team__card .team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section--no-padding {
  padding-top: 0;
}

.header {
  background-color: var(--last-color);
  color: inherit;
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--second-ff);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation__logo {
  padding: 24px 0 25px 0;
  margin-right: 93px;
  color: inherit;
}

.logo--blue {
  color: var(--accent-color);
}

.page,
.contact {
  display: flex;
  flex-direction: row;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page {
  margin-left: 0;
}

.page__link {
  position: relative;
  padding: 0 2px;
  color: inherit;
}
.page__link--current {
  color: var(--accent-color);
}
.page__link--current::after {
  position: absolute;
  content: "";
  top: 46px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: currentColor;
}

.page__item,
.contact__item {
  margin-right: 50px;
}

.page__item:last-child,
.contact__item:last-child {
  margin-right: 0;
}

.contact .contact__link {
  color: var(--second-color);
}

.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--changes);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}

.contact__icon--active {
  margin-right: 10px;
  fill: currentColor;
  transition: fill var(--changes);
}
.contact__icon--active:hover, .contact__icon--active:focus {
  fill: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 200px 0px;
  background-color: var(--dark-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--last-color);
}

.hero__btn {
  min-width: 216px;
  border-radius: 4px;
}

/*модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--changes), visibility var(--changes);
}
.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: block;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--last-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--changes);
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform var(--changes);
}

.modal__btn {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;
  left: 490px;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--last-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform var(--changes), fill var(--changes);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-color);
}

/*нашi переваги*/
.benefit {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.benefit__text, .modal__check-label {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.benefit__icon {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey-color);
  border-radius: 4px;
}

.benefit__item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefit__item > .benefit__subtitle {
  margin-bottom: 10px;
  color: var(--text-color);
}

/*Чим ми займаємося*/
@media screen and (max-width: 768px) {
  .section__title--second {
    font-size: 28px;
  }
}

.example {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 60px) / 3);
}

.example__item {
  position: relative;
}

.example__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Наша команда*/
.section--grey {
  background: var(--grey-color);
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team {
    margin-top: 50px;
  }
}

.team__card {
  text-align: center;
  background-color: var(--last-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /*Постійні клієнти*/
}
@media screen and (min-width: 480px) {
  .team__card .team__card {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card .team__card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__card .team__card {
    width: 270px;
  }
}
.team__card .team__box {
  padding: 30px 0;
}
.team__card .team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team__card .team__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.team__card .soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--soc-color);
  border-radius: 50%;
}
.team__card .soc-link:hover, .team__card .soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--last-color);
  transition: background-color var(--changes), fill var(--changes);
}
.team__card .customer__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.team__card .customer__item {
  width: 220px;
  height: 92px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .team__card .customer__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card .customer__item {
    width: 170px;
  }
}
.team__card .customer__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--soc-color);
  border: 1px solid var(--soc-color);
  border-radius: 4px;
  transition: fill var(--changes), border var(--changes);
}
.team__card .customer__link:hover, .team__card .customer__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* кнопки-фiльтри портфолiо*/
.filter {
  display: flex;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: inherit;
  background-color: var(--grey-color);
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  transition: color var(--changes), background-color var(--changes), box-shadow var(--changes);
  border: transparent;
}
.filter__btn:hover, .filter__btn:focus {
  color: var(--last-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
  flex-basis: calc((100% - 60px) / 3);
}

.work__link {
  display: block;
  transition: color var(--changes), box-shadow var(--changes);
}
.work__link:hover, .work__link:focus {
  color: inherit;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work__link:hover .overlay__text, .work__link:focus .overlay__text {
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--last-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--changes);
}

.box {
  padding: 20px 24px;
  background: var(--last-color);
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.box__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.box__type {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.modal__form {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.modal__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.modal__field {
  margin-bottom: 10px;
}
.modal__field input {
  margin: 0;
}
.modal__field--margin {
  margin-bottom: 20px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.field {
  position: relative;
  width: 100%;
  height: 40px;
}
.field .field__icon, .field .send__icon {
  position: absolute;
}

.field__text {
  width: 100%;
  height: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--changes);
}
.field__text:focus + .field__icon, .field__text:focus + .send__icon, .field__text:focus,
.field__text .field-textarea:focus {
  border-color: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: var(--accent-color);
}

.field__icon, .send__icon {
  top: 11px;
  left: 12px;
  transition: fill var(--changes);
  cursor: pointer;
  border: transparent;
}

textarea {
  resize: none;
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea {
  display: block;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--changes);
}

.modal__check-label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal__check-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.modal__check-input:checked + .modal__span {
  border: none;
  background-color: var(--accent-color);
}
.modal__check-input:checked + .modal__span .modal__icon {
  fill: var(--last-color);
}

.modal__span {
  position: relative;
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: border var(--changes), background-color var(--changes), box-shadow var(--changes);
}

.modal__icon {
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--changes);
}

.modal__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.modal__submit {
  position: absolute;
  left: 164px;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

/*блок адрес*/
.adress {
  flex-grow: 1;
}

.logo--white {
  width: 145px;
  color: var(--last-color);
}

.adress__item:not(:first-child) {
  margin-top: 9px;
}

.adress__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--last-color);
}

.adress__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

/*блок соцiальний*/
.social {
  margin-left: 70px;
  margin-right: 93px;
}

.social__list {
  display: flex;
  gap: 10px;
}
.social__list .soc-link {
  fill: var(--last-color);
  background: rgba(255, 255, 255, 0.1);
  transition: fill var(--changes), background-color var(--changes);
}
.social__list .soc-link:hover, .social__list .soc-link:focus {
  fill: var(--last-color);
  background-color: var(--accent-color);
}

/*блок розсилка*/
.send {
  display: flex;
  gap: 12px;
}

.send__text {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  color: var(--last-color);
  background-color: var(--dark-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.send__text::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.send__text:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.send__text::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.send__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 200px;
  gap: 10px;
  border-radius: 4px;
  border: transparent;
}/*# sourceMappingURL=main.css.map */