.footer {
    display: flex;
    background: var(--backgroung-accent);
    padding-top: 60px;
    padding-bottom: 60px;
    
}
.footer-container {
    gap: 70px;

  

    @include tablet{
        padding-left: 76px;
        padding-right: 76px;
    }
    @include descktop{
        display: flex;

       }

}
.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-title);
    margin-bottom: 9px;
    transition: var(--transition-function);

    width: 230px;
    margin: 0 auto;
    
    &:hover,
    &:focus {
     color: var(--accent-color); }

   
     @include descktop{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 9px;
        margin-top: 0;
     }

}
.footer-contact {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--transparent-color);
    display: block;
    margin-bottom: 9px;
    transition: var(--transition-function);

    width: 160px;
    margin: 0 auto;

    &:hover,
    &:focus {
     color: var(--accent-color);}

     @include descktop{
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 9px;
        margin-top: 0;
     }
}
.tel {
    margin-bottom: 0;
}

.title-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color-title);
    text-transform: uppercase;

    width: 120px;
    margin: 0 auto; 
    padding-top: 0;
    margin-bottom: 20px; 
   

   
    @include descktop{
        padding-top: 10px;
        margin-top: 0;
    }
}
.footer-soc-link {
    @include soc-icon;
    background: rgba(255, 255, 255, 0.1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    transition: var(--transition-function);
    
    &:hover,
    &:focus {
    background-color: var(--accent-color);}
}
.footer-soc-icon {
    fill: #FFFFFF;
}
.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;

    @include descktop{
        margin-bottom: 0;
    }
}
.conteiner-form {
    margin-top: 0px;
   
}
.footer-form {
    @include descktop{
        display: flex;
    }
    
}
.input-footer {
    
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;

    display: block;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 15px;

    
    @include descktop {
        display: flex;
        width: 358px;
    }
}
.form-button{
     
    width: 200px;
    height: 50px;
    display: block;
    margin: 0 auto;
    
    padding-left: 28px;
    background: var(--accent-color);
    cursor: pointer;
    

    border-radius: 4px;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    
    &:hover,
    &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);}


    @include descktop{
        display: flex;
        margin-left: 12px;
    }
}

.footer-button-icon {
    fill: var(--accent-color-title);
    align-items: center;
    margin-left: 10px;
    
}
.footer__wrap{
   margin-bottom: 60px;
}
.footer__title{
    width: 207px;
}
.footer__inner{
    @include tablet{
    display: flex;
    justify-content: space-between;}
}