.team__title{
    @extend%title;
}
.team__section {
    background: var(--background-accent-color);
}
.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   

    
}
.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    
    @include mobile{
       width: 450px;
    }
    @include tablet{
        width: calc((100% - 30px)/ 2 );
    }
    @include descktop{
        width: 270px;
    }

    
}
.team__subject {
    padding-top: 30px;
    padding-bottom: 30px;
}
.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
}
.team__work-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
     color: var(--primary-text-color);
     margin-top: 10px;
     margin-bottom: 16px;
}
.social-networks__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-networks__link {
    @include soc-icon;
    transition: var(--transition-function);

    &:hover,
    &:focus {
    background-color: var(--accent-color);}

    
}
.social-networks__icon{
    fill: var(--icon-color);
    transition: var(--transition-function);

    .social-networks__link:hover &,
    .social-networks__link:focus & {
    fill: var(--accent-color-title);}
}



