h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul,
li {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

address {
    font-style: normal;
    margin-top: 20px;
}

button {
    padding: 0;
}