:root {
    --main-ff: 'Roboto', sans-serif;
    --second-ff: 'Raleway';
    --text-color: #212121;
    --accent-color: #2196F3;
    --second-color: #757575;
    --last-color: #FFFFFF;
    --background-color: #E5E5E5;
    --dark-color: #2F303A;
    --soc-color: #AFB1B8;
    --grey-color: #F5F4FA;
    --changes: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}