.header {
    background-color: var(--last-color);
    color: inherit;
    border-bottom: 1px solid #ececec;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--second-ff);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19; 
    letter-spacing: 0.03em;
}


// .navigation__logo {
//     margin-right: auto;  
//     color: inherit;
// }

.logo--blue {
    color: var(--accent-color);
}

.page,
.contact {
    display: flex;
    flex-direction: row;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.page {
    margin-left: 0;
}

.page__link {
    @extend %link;
    position: relative;
    padding: 0 2px;
    color: inherit;

    &--current {
        color: var(--accent-color);
    }

    &--current::after {
        position: absolute;
        content: "";
        top: 46px;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border: none;
        border-radius: 2px;
        background-color: currentColor;
    }
}

.page__item,
.contact__item {
    margin-right: 50px;
}

.page__item:last-child,
.contact__item:last-child {
    margin-right: 0;
}

.contact .contact__link {
    @extend %link;
    color: var(--second-color);
}

.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--changes);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}

.contact__icon--active {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--changes);

    &:hover,
    &:focus {
        fill: var(--accent-color);
}
}