/*нашi переваги*/
.benefit {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.benefit__text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.benefit__icon {
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--grey-color);
    border-radius: 4px;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.benefit__item {
    flex-basis: calc((100% - 90px) / 4);
}

.benefit__item>.benefit__subtitle {
    @extend %subtitle;
    margin-bottom: 10px;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .benefit__subtitle {
        text-align: center;
}
}

/*Чим ми займаємося*/
.section__title--second {
    @extend %second-title;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.example {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
    flex-basis: calc((100% - 60px) / 3);
}

.example__item {
    position: relative;
}

.example__thumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.example__title {
    @extend %example-title;
}

/*Наша команда*/
.section--grey {
    background: var(--grey-color);
}

.team {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {    
        margin-top: 50px;
    }
}

.team__card {
    text-align: center;
    background-color: var(--last-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }
}

.team__box {
    padding: 30px 0;
}

.team__title {
    @extend %third-title;
}

.team__text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

.team__list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.soc-link {
    @extend %link;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--soc-color);
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--last-color);
        transition: background-color var(--changes), fill var(--changes);
    }
}

/*Постійні клієнти*/
.customer__list {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: 1200px) {        
        margin-top: 50px;
    }
}

.customer__item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
}

.customer__link {
    @extend %link;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--soc-color);
    border: 1px solid var(--soc-color);
    border-radius: 4px;
    transition: fill var(--changes), border var(--changes);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}